<header>
    <h1>Proyecto 0</h1>

    <a href="/">Index</a>
    {{#unless user}}
    <a href="/signin">Sign in</a>
    <a href="/login">Login</a>
    {{else}}
    <a href="/create">Create event</a>
    <a href="/logout">Logout</a>
    {{/unless}}
</header>